// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #main-title {
  font-family: 'Special Elite', cursive;
  font-size: 60px;
  color: black;
  background: none;
  margin: 20px;
  text-decoration: none;
 
  :hover {
    color: #D64747;
  }

 a {
  font-size: 60px;
  color: black;
  background: none;
  // margin: 20px;
  text-decoration: none;
  
  :hover {
    color: #D64747;
  }
 }
}

#accepted_game {
  border: 2px dashed black;
  moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

#alert {
  color: red;
}

#grid {
	margin-left:auto; 
  margin-right:auto;
  width: 70%;
  padding-bottom: 20px;
  background: transparent;
}

.wrap {
	width: 100%;
	margin-left: auto;
  margin-right: auto;
	background: transparent;
}

.blocks {
    display: inline-block;
    width: 10%;
    height: 10%;
    margin-top: 2px;
    margin-bottom: 2px;
    background: transparent;
}

#game_info {
  display: inline-block;
}

#game_info img {
  max-height: 45px;
  max-width: 45px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.games {
  display: inline;

  input[type=submit] {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    border: none;
    margin: 2%;
    background: transparent;
    color: black;
    border: 2px solid black;
    padding: 7px; 
    text-transform: uppercase;
    moz-border-radius: 40px;
      -webkit-border-radius: 40px;
  }

  input[type=submit]:hover {
    color: black;
    border: 2px solid black;
    background: #FFB8A9;
    text-transform: uppercase;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    border: none;
    background: transparent;
    color: black;
    border: 2px solid black;
    padding: 7px;
    margin: 2%;
    line-height: 4 !important;
    text-transform: uppercase;
    moz-border-radius: 40px;
      -webkit-border-radius: 40px;
  }

  a:hover {
    color: black;
    border: 2px solid black;
    background: #FFB8A9;
    text-transform: uppercase;
    cursor: pointer;
  }
}


