// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grid {
	margin-left:auto; 
    margin-right:auto;
    padding-bottom: 20px;
    background: #eed3d7;
}

.wrap {
	width: 730px;
	margin-left: 35px;
	background: #eed3d7;
}

.blocks {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-top: 2px;
    margin-bottom: 2px;
    align: center;
    background: #eed3d7;
}